aiobotocore
aiohappyeyeballs
aiohttp 
aioitertools 
aiosignal 
alabaster 
altair 
anyio 
appdirs==1.4.4
archspec 
argon2-cffi 
argon2-cffi-bindings 
arrow 
asgiref==3.9.1
astroid 
astropy 
astropy-iers-data 
asttokens 
async-lru 
asyncssh 
atomicwrites==1.4.0
attrs 
Automat 
autopep8 
babel 
bcrypt 
beautifulsoup4 
binaryornot 
black 
bleach 
blinker 
bokeh 
boltons 
botocore 
Bottleneck 
Brotli 
cachetools 
certifi 
cffi 
chardet 
charset-normalizer 
click 
cloudpickle 
colorama 
colorcet  
constantly 
contourpy 
cookiecutter 
cryptography 
cssselect
cycler 
cytoolz 
dask 
dask-expr 
datashader 
debugpy 
decorator 
defusedxml 
Deprecated
diff-match-patch 
dill 
distributed 
distro 
dj-database-url==3.1.2
Django==5.2.5
django-csp==4.0
django-extensions==4.1
django-filter==25.1
django-taggit==6.1.0
django-tailwind==4.4.2
djangorestframework==3.16.1
docstring-to-markdown 
docutils 
et_xmlfile
evalidate 
executing 
fastjsonschema 
filelock 
flake8 
Flask 
fonttools 
frozendict 
frozenlist 
fsspec 
gitdb 
GitPython 
gmpy2 
greenlet 
gunicorn==25.1.0
h11 
h5py 
HeapDict 
holoviews 
httpcore 
httpx
hvplot
hyperlink
idna
imageio
imagesize
imbalanced-learn
importlib_metadata
incremental
inflection
iniconfig
intake
intervaltree
ipykernel
ipython
ipywidgets
isort
itemadapter
itemloaders
itsdangerous
jaraco.classes
jaraco.context
jaraco.functools
jedi
jellyfish
Jinja2
jinja2-time
jmespath
joblib
json5
jsonpatch
jsonpointer==2.1
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets
keyring
kiwisolver
lazy_loader
lckr_jupyterlab_variableinspector
libarchive-c
libmambapy
lief
linkify-it-py
llvmlite
lmdb
locket
lxml==5.3.0
lz4 
Markdown 
markdown-it-py 
MarkupSafe 
matplotlib==3.10.0
matplotlib-inline 
mccabe 
mdit-py-plugins 
mdurl 
menuinst 
mistune 
mkl-service==2.4.0
mkl_fft
mkl_random
more-itertools
mpmath
msgpack
multidict
multipledispatch
mypy
mypy_extensions
mysql-connector-python==9.4.0
mysqlclient==2.2.7
narwhals 
navigator-updater
nbclient
nbconvert
nbformat
nest_asyncio
networkx
nltk
notebook
notebook_shim
numba
numexpr
numpy
numpydoc
openpyxl
overrides
packaging
pandas
pandocfilters
panel
param
parsel
parso
partd
pathspec
patsy
pexpect
pickleshare
pillow
pkce
pkginfo
platformdirs
plotly
pluggy
ply
poyo
prometheus_client
prompt_toolkit
propcache
Protego
protobuf
psutil
psycopg2-binary==2.9.11
ptyprocess 
pure-eval 
py-cpuinfo 
pyarrow 
pyasn1 
pyasn1-modules==0.2.8
pycodestyle
pycosat
pycparser
pyct
pycurl
pydantic
pydantic-settings
pydantic_core
PyDispatcher
pydocstyle
pyerfa
pyflakes
PyGithub
Pygments
PyJWT
pylint
pylint-venv
pyls-spyder==0.4.0
PyNaCl 
pyodbc
pyOpenSSL 
pyparsing 
PyQt5==5.15.10
PyQt5_sip 
PyQtWebEngine==5.15.6
PySocks 
pytailwindcss==0.3.0
pytest
python-dateutil
python-dotenv
python-json-logger
python-lsp-black
python-lsp-jsonrpc
python-lsp-server
python-slugify
pytoolconfig
pytz
pyuca
pyviz_comms
PyWavelets
pywin32==308
pywin32-ctypes
pywinpty
PyYAML
pyzmq
QDarkStyle
qstylizer
QtAwesome
qtconsole
QtPy
queuelib
readchar
referencing
regex
requests
requests-file
requests-toolbelt
rfc3339_validator
rfc3986_validator
rich
roman-numerals-py
rope
rpds-py
Rtree
ruamel.yaml
ruamel.yaml.clib
ruamel_yaml_conda
s3fs
scikit-image
scikit-learn
scipy
Scrapy
seaborn
semver
Send2Trash
service-identity
setuptools==72.1.0
shellingham
sip
six
sklearn-compat
smmap
sniffio
snowballstemmer
sortedcontainers
soupsieve
Sphinx
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
spyder
spyder-kernels
SQLAlchemy
sqlparse==0.5.3
stack-data
statsmodels
streamlit
superqt
sympy
tables
tabulate
tblib
tenacity
terminado
text-unidecode
textdistance
threadpoolctl
three-merge
tifffile
tinycss2
tldextract
toml
tomli
tomlkit
toolz
tornado
tqdm
traitlets
truststore
Twisted
twisted-iocpsupport
typer
typing_extensions
tzdata
uc-micro-py
ujson
Unidecode
urllib3
w3lib
watchdog
wcwidth
webencodings
websocket-client
Werkzeug
whatthepatch
wheel==0.45.1
whitenoise==6.12.0
widgetsnbextension
win_inet_pton
wrapt
xarray
xlwings
xyzservices
yapf
yarl
zict
zipp
zope.interface
zstandard
