Django==5.2.5
gunicorn==25.1.0
dj-database-url==3.0.1
mysqlclient==2.2.7
python-decouple==3.8
whitenoise==6.12.0
django-tailwind==4.4.2
djangorestframework==3.16.1
django-filter==25.1
django-extensions==3.2.3
django-taggit==6.1.0